@model ItemsDisplay.Models.Character

@{
    ViewData["Title"] = "Details";
}

<style>
body {
    margin-bottom: 60px;
    background:linear-gradient(to right, rgba(35,17,114,0.800) 0%, rgba(35,17,114,0.298) 33%, rgba(15,15,15,1.000) 100%); 
}
</style>

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <div class="row">
        <span class="col-sm-6 ow row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
			<a href="@Model.ImgURL"><img src="@Model.ImgURL"/></a>
		</span>   
        <dl class="col-sm-6">        
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Attribute)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Attribute)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AttackType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AttackType)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            @* <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImgURL)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImgURL)
            </dd> *@
        </dl>
    </div>
</div>
<hr>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">EDIT</a>
     |
    <a asp-action="Index">Back to List</a>
</div>
