@* @model IEnumerable<ItemsDisplay.Models.Character> *@
@model ItemsDisplay.Models.CharacterAttributeViewModel
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
}
<r>
<div class="text-center">
    <h1 class="display-5" id="siteTitle">Display @Configuration["GameCharacterType"] character information </h1>
</div>

<hr>

<div class="container">
    <form asp-controller="Character" asp-action="Index" method="get">
        <div class="col input-group justify-content-center">
            <div class="col-md-auto">
                <select class="form-select rounded" asp-for="CharacterAttribute" asp-items="Model.Attributes">
                    <option value="">All</option>
                </select>
            </div>
            <div class="col">
                <input asp-for="SearchString" type="text" class="form-control rounded" placeholder="Hero name ..." aria-label="Search" aria-describedby="search-addon" />
            </div>
            <div class="col col-lg2">
                <button type="submit" class="btn btn-secondary">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<hr>

<div class="col">
    <a asp-controller="Character" asp-action="Create" class="btn btn-success btn-lg btn-block text-uppercase mb-3">
        Add
        Hero
    </a>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
    @foreach (var item in Model.Characters!)
    {
        @* <partial name="_ItemCard" model="item" /> *@
        <div class="col">
            <div class="card h-100">
                <img src="@item.ImgURL" class="card-img-top" alt="Not Found"
                onerror="this.onerror=null;this.src='https://items-display-site.et.r.appspot.com/imgdemo/404.png';"
                loading="lazy">
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-controller="Character" asp-action="Details" asp-route-id="@item.Id">
                            @item.Name
                        </a>
                    </h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer user-select-none">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    }
</div>